.movie{

	width: 33%;
	display: inline-block;


}
.movie img{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    height: 278px;
  cursor: pointer;}

.pads{

    padding: 15px;

}
.grid-6{
	text-align: center;
	width: 45%;
	position: relative;
}
